# Virtualenv
/.venv/
/venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
/bin/
/build/
/develop-eggs/
/dist/
/eggs/
/lib/
/lib64/
/output/
/parts/
/sdist/
/var/
/*.egg-info/
/.installed.cfg
/*.egg
/.eggs

# AUTHORS and ChangeLog will be generated while packaging
/AUTHORS
/ChangeLog

# BCloud / BuildSubmitter
/build_submitter.*
/logger_client_log

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
.pytest_cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Sphinx documentation
/docs/_build/
log
*.txt
.idea

*.xls
*.xls
*.list
*.log
data
script/data
dict_*
dict
*.exe
*.out
*.tar.gz
*.diff
*.tmp
logs
bin/
.scm
part-*
*flume-*
*.url
*.dclog
*.tgz
*.tsf
seeksign
seekone
*.bin
core-*
conf/
bailing_stat
*.tsf
*.tsf.train
*.query
*.pack
ulpack/
stat_server
python_runtime/
flume/
doc/
run-benchmarks
.DS_Store
*.vectors_ngrams_lockf.npy
*.vectors_ngrams.npy
ckpt
data_pack
model_data
data_*
*.xlsx
tmp_test*.cpp
*.lock
results
*.log